<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Titlekana:</strong>
  <%= @book.titleKana %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @book.subTitle %>
</p>

<p>
  <strong>Seriesname:</strong>
  <%= @book.seriesName %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Authorkana:</strong>
  <%= @book.authorKana %>
</p>

<p>
  <strong>Publishername:</strong>
  <%= @book.publisherName %>
</p>

<p>
  <strong>Language:</strong>
  <%= @book.language %>
</p>

<p>
  <strong>Salesdate:</strong>
  <%= @book.salesDate %>
</p>

<p>
  <strong>Itemnumber:</strong>
  <%= @book.itemNumber %>
</p>

<p>
  <strong>Kobogenreid:</strong>
  <%= @book.koboGenreId %>
</p>

<p>
  <strong>Itemcaption:</strong>
  <%= @book.itemCaption %>
</p>

<p>
  <strong>Itemprice:</strong>
  <%= @book.itemPrice %>
</p>

<p>
  <strong>Itemurl:</strong>
  <%= @book.itemUrl %>
</p>

<p>
  <strong>Affiliateurl:</strong>
  <%= @book.affiliateUrl %>
</p>

<p>
  <strong>Smallimageurl:</strong>
  <%= @book.smallImageUrl %>
</p>

<p>
  <strong>Mediumimageurl:</strong>
  <%= @book.mediumImageUrl %>
</p>

<p>
  <strong>Largeimageurl:</strong>
  <%= @book.largeImageUrl %>
</p>

<p>
  <strong>Reviewcount:</strong>
  <%= @book.reviewCount %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @book.integer %>
</p>

<p>
  <strong>Reviewaverage:</strong>
  <%= @book.reviewAverage %>
</p>

<p>
  <strong>Salestype:</strong>
  <%= @book.salesType %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
